html,
body {
    height: 100%;
    background-color: black;
    margin-top: 10%;
}

h1 {
    font-size: 40px;
    text-align: center;
    color:white;
    background-image: url(Assets/linktree_bubble.svg);
    background-position: center;
    background-repeat:no-repeat;
    width:400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    
}




h2 {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;

    /* right: -5px; */
}




.logo-container {
margin-left: auto;
margin-right: auto;
width: 100px;
padding-bottom: 20px;

}
.icon-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c" ;
    width: 33%;
    align-items: center;
    justify-items: center;
    column-gap: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
   
   
}
.icon-container img{
width: 27px; 
}


.link-container {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    justify-items: center;
    
}
    